# Compiled source #
###################
*.class

# Packages #
############
*.jar
*.war

# Logs and databases #
######################
*.log

# Gradle Files #
################
/build/
.gradle

# Excluding gradle build #
##########################
!/build.gradle
!/gradle/wrapper/gradle-wrapper.jar

# IntelliJ specific files/directories #
#######################################
/out
.idea
*.iml